# Database Configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=your_database

# Application Environment
NODE_ENV=development
PORT=3001

#token jwt
ACCESS_TOKEN_JWT_KEY=solvionProductMSGTFJ
ACCESS_TOKEN_JWT_EXPIRES_IN=15m
REFRESH_TOKEN_JWT_KEY=solvionProductJFTGSM
REFRESH_TOKEN_JWT_EXPIRES_IN=1d

#Cookie
COOKIE_SECRET=solvionProductCookieMGSTFJ

#Criptografia
CRYPTO_KEY=

#Google OAuth2 credenciais
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GOOGLE_PROJECT_ID=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_CERTS_URI=